<launch>

  <!-- Move Base Node -->
  <!-- Subscribe: /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->
  <!--<remap from="/projected_map" to="/map"/>-->
  
  <arg name="lidar_topic" default="/velodyne_points" />
  <!--/hesai/pandar_points-->  
  <arg name="bt_file" default="$(find cvt_pcd2octomap)/rdv_map_files/aihub_4floor_mod.bt" />

  <!--<node pkg="point_cloud_converter" type="point_cloud_converter_node" name="convert_cloud" output="screen">
    <remap from="/points2_in" to="$(arg lidar_topic)" />
    <remap from="/points_out" to="/velodyne_points_pc1" />
  </node>-->

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen" args="$(arg bt_file)" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find navstack_pub)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navstack_pub)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navstack_pub)/param/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navstack_pub)/param/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <!--<rosparam file="$(find navstack_pub)/param/base_local_planner_params.yaml" command="load" />-->
    <rosparam file="$(find navstack_pub)/param/dwa_local_planner_params.yaml" command="load" />
    
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <!--<param name="base_global_planner" value="navfn/NavfnROS"/>-->

    <param name="controller_frequency" value="20"/>
    <param name="planner_frequency" value="0"/>

  
    <remap from="/cmd_vel" to="/omniwheel_agv/omniwheel_velocity_controller/cmd_vel" />
  

  </node>


</launch>
